<div class="container-fluid">
  <!-- Tabla Constancia de situacion Fiscal -->
  <div class="row box">
    <div class="col-12 text-center">
      <h5>Constancia de situacion fiscal</h5>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Mes</th>
            <th>Archivo</th>
            <th>Estatus</th>
          </tr>
        </thead>
        <tbody>
          <tr class="" *ngFor="let item of provider.files?.constanciaSF">
            <td>{{ item.mes }}</td>
            <td>
              <a [href]="item.link" target="blank">{{ item.name }}</a>
            </td>
            <td>{{ item.status }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr
            *ngIf="
              provider.files?.constanciaSF.at(-1).mes !== mesATexto(mesActual)
            "
          >
            <td>{{ mesATexto(mesActual) }}</td>
            <td>
              <input
                type="file"
                class="form-control"
                (change)="uploadFile($event, 'constanciaSF')"
              />
            </td>
            <td>Pendiente</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <!-- Tabla 32D -->
  <div class="row box">
    <div class="col-12 text-center">
      <h5>Opinión de cumplimiento 32D positiva</h5>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Mes</th>
            <th>Archivo</th>
            <th>Estatus</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class=""
            *ngFor="let item of provider.files?.opinionCumplimiento32D"
          >
            <td>{{ item.mes }}</td>
            <td>
              <a [href]="item.link" target="blank">{{ item.name }}</a>
            </td>
            <td>{{ item.status }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr
            *ngIf="
              provider.files?.opinionCumplimiento32D?.length(-1).mes !==
              mesATexto(mesActual)
            "
          >
            <td>{{ mesATexto(mesActual) }}</td>
            <td>
              <input
                type="file"
                class="form-control"
                (change)="uploadFile($event, 'opinionCumplimiento32D')"
              />
            </td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
