<div class="container-fluid">
  <div
    class="row box"
    *ngFor="let tipo of this.provider.files; let indexTipo = index"
  >
    <div class="col-12 text-center">
      <h5>{{ tipo.descripcion }}</h5>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Mes</th>
            <th>Archivo</th>
            <th>Estatus</th>
          </tr>
        </thead>
        <tbody>
          <tr class="" *ngFor="let item of tipo.archivos">
            <td>{{ item.mes }}</td>
            <td>
              <a [href]="item.link" target="blank">{{ item.name }}</a>
            </td>
            <td
              [ngClass]="{
                'text-danger': item.status === 'Rechazado',
                'text-primary': item.status === 'Pendiente',
                'text-warning': item.status === 'En revisión',
                'text-success': item.status === 'Aprobado'
              }"
            >
              {{ item.status }}
            </td>
          </tr>
        </tbody>
        <tfoot
          *ngIf="
            tipo.archivos[tipo.archivos.length - 1]?.mes !==
            mesATexto(mesActual)
          "
        >
          <tr>
            <td>{{ mesATexto(mesActual) }}</td>
            <td>
              <input
                type="file"
                id="inputFileCSF"
                class="form-control"
                (change)="uploadFile($event, indexTipo)"
              />
            </td>
            <td class="text-primary">Pendiente</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
