<div class="center">
  <img class="background" src="../../../assets/logos/background.png" alt="" />
  <div class="contenedor">
    <img
      class="logo img-fluid"
      src="assets/logos/logoenconexion.png"
      alt="Logo"
    />

    <div>
      <p class="descript">
        Bienvenido a
        <span class="span">ENCONEXION.ONLINE</span>
      </p>

      <form #formLogin="ngForm" (submit)="onLogin()" class="main-form">
        <div class="form-group my-2">
          <div class="input-group">
            <input
              name="user"
              type="email"
              class="form-control"
              id="user"
              placeholder="Email"
              [(ngModel)]="email"
              required
            />
            <small class="invalid-feedback">Ingresa un usuario válido</small>
          </div>
        </div>
        <div class="form-group my-2">
          <input
            name="pass"
            type="password"
            class="form-control"
            id="password"
            [(ngModel)]="password"
            placeholder="Contraseña"
            required
          />
          <small class="invalid-feedback">Ingresa una contraseña válida </small>
          <button
            type="button"
            class="btn btn-link resetPass"
            (click)="openModalReset()"
          >
            ¿Olvidaste tu contraseña?
          </button>
        </div>
        <div *ngIf="errorMsg" class="alert alert-danger">{{ errorMsg }}</div>
        <button type="submit" class="btn-enconexion">Iniciar sesión</button>
      </form>
    </div>
  </div>
</div>

<!-- Modal reset pass-->
<div
  class="modal fade"
  id="restartPass"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Restablecer contraseña</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="resetEmail">Direccion de correo electronico</label>
          <input
            type="email"
            class="form-control"
            name="resetEmail"
            id="resetEmail"
            aria-describedby="helpId"
            placeholder="Email"
            [(ngModel)]="emailReset"
          />
          <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
</div>
