<div class="container-fluid py-2">
  <div class="menu-nav-container my-2">
    <a
      class="menu-nav-btn"
      [routerLink]="['archivosMensuales']"
      routerLinkActive="active"
    >
      <i class="fas fa-folder-open"></i>
      <span>Archivos Mensuales</span>
    </a>

    <a
      class="menu-nav-btn"
      [routerLink]="['pagosPendientes']"
      routerLinkActive="active"
    >
      <i class="fas fa-file-invoice-dollar"></i>
      <span>Pagos Pendientes (OC)</span>
    </a>

    <a
      class="menu-nav-btn"
      [routerLink]="['gastosPorComprobar']"
      routerLinkActive="active"
    >
      <i class="fas fa-receipt"></i>
      <span>Gastos por Comprobar (GXC)</span>
    </a>
  </div>
</div>

<router-outlet></router-outlet>
