<div class="container-fluid">
  <div class="row box justify-content-center">
    <div class="col-auto my-3">
      <button
        type="button"
        class="buttonMenu"
        [ngClass]="{
          colorRed: this.provider.status === 'Pendiente',
          colorYellow: this.provider.status === 'En revisión',
          colorGreen: this.provider.status === 'Aprobado'
        }"
        [routerLink]="['data']"
        routerLinkActive="buttonActivate"
      >
        <i class="fas fa-cog icon"></i>
        <p>Mis datos</p>
        <div>
          <span *ngIf="provider.status === 'Pendiente'">
            <i class="fas fa-exclamation-triangle"></i> Pendiente</span
          >
          <span *ngIf="provider.status === 'En revisión'">
            <i class="fas fa-spinner fa-spin"></i> En revisión</span
          >
          <span *ngIf="provider.status === 'Aprobado'">
            <i class="fas fa-check"></i> Aprobado</span
          >
        </div>
      </button>
    </div>
    <div class="col-auto my-3">
      <button
        type="button"
        class="buttonMenu"
        [ngClass]="{
          colorRed: statusFiles === 'Rechazado',
          colorOrange: statusFiles === 'Pendiente',
          colorYellow: statusFiles === 'En revisión',
          colorGreen: statusFiles === 'Aprobado'
        }"
        [routerLink]="['files']"
        routerLinkActive="buttonActivate"
      >
        <i class="fas fa-file-upload icon"></i>
        <p>Carga de archivos</p>
        <div>
          <span *ngIf="statusFiles === 'Rechazado'">
            <i class="fas fa-exclamation-triangle"></i> Rechazado</span
          >
          <span *ngIf="statusFiles === 'Pendiente'">
            <i class="fas fa-spinner fa-spin"></i> Pendiente</span
          >
          <span *ngIf="statusFiles === 'En revisión'">
            <i class="fas fa-spinner fa-spin"></i> En revisión</span
          >
          <span *ngIf="statusFiles === 'Aprobado'">
            <i class="fas fa-check"></i> Aprobado</span
          >
        </div>
      </button>
    </div>
    <div class="col-auto my-3">
      <button
        type="button"
        class="buttonMenu"
        [ngClass]="{
          colorRed: this.provider.status === 'Pendiente',
          colorYellow: this.provider.status === 'En revisión',
          colorGreen: this.provider.status === 'Aprobado'
        }"
        [routerLink]="['dealMemo']"
        routerLinkActive="buttonActivate"
      >
        <i class="fas fa-calendar-week icon"></i>
        <p>Calendario de pagos</p>
        <div>
          <span *ngIf="provider.status === 'Pendiente'">
            <i class="fas fa-exclamation-triangle"></i> Pendiente</span
          >
          <span *ngIf="provider.status === 'En revisión'">
            <i class="fas fa-spinner fa-spin"></i> En revisión</span
          >
          <span *ngIf="provider.status === 'Aprobado'">
            <i class="fas fa-check"></i> Aprobado</span
          >
        </div>
      </button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
