/* @import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap'); */
p {
  font-size: 1.1rem;
}
span {
  font-weight: bold;
  color: #009fab;
}

.buttonMenu {
  font-size: 1em;
  width: 8.5em;
  height: 8.5em;
  background-color: #039fab;
  /* background-color: #027c85; */
  /* background-color: #fff; */
  /* color: #039fab; */
  border-radius: 5%;
  transition: transform 200ms;
  outline: none;
  color: #fff;
}

.buttonMenu:hover {
  transform: scale(1.1);
}

.buttonActivate {
  transform: scale(1.1);
  background-color: #007780;
}

.icon {
  font-size: 2.5em;
}

.colorReturn {
  background-color: #03ab79;
}

@media (max-width: 500px) {
  .buttonMenu {
    font-size: 0.7em;
    /* background-color: #fff;
      color: #039fab; */
  }

  p {
    font-size: 0.9em;
  }
}
